In [9]:
def hi():
    print("Hello student") #response for callee
    print("Haritha "*5) #map
hi() #caller

Hello student
Haritha Haritha Haritha Haritha Haritha

In [21]:
#function with parameters
def add(student1,student2):
    return student1+student2
student1=int(input("enter the money:"))
student2=int(input("enter the money:"))
total=add(student1,student2)
print("total money:",total)

enter the money: 100
enter the money: 50

total money: 150

In [25]:
#function with parameters
#arg pass with return value
def add(student1,student2):
    print("total:", student1+student2)
student1=int(input("enter the money:"))
student2=int(input("enter the money:"))
add(student1,student2)

enter the money: 100
enter the money: 50

total: 150

In [31]:
#no arg pass with return value
def value():
    return 3.14159
result=value()
print("Value in this function is",result)

Value in this function is 3.14159

In [35]:
#example:no arg pass with return value
def get_name():
    name=input("enter your name:")
    return name
username=get_name()
print("Welcome", username)

enter your name: haritha

Welcome haritha

In [47]:
a=100
def value(a):
    return a+20
print(value(a))

120

In [53]:
def hi(name="Guest"):
    print("Hello",name)
a=input("enter the data:")
hi()
hi(a)

enter the data: haritha

Hello Guest
Hello haritha

In [85]:
def info(name='Kranthi',age=25):
    print("Name:",name)
    print("Age:",age)
info("Haritha",21)
info("Naziya")
info(age=21)
info()

Name: Haritha
Age: 21
Name: Naziya
Age: 25
Name: Kranthi
Age: 21
Name: Kranthi
Age: 25

In [87]:
#multiple sum product
def cal(a,b):
    return a+b,a-b,a*b,a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum,diff,pro,div=cal(a,b)
print("sum=",sum)
print("Subtract=",diff)
print("produ=",sum)

enter a: 10
enter b: 10

sum= 20